<!DOCTYPE html>
    <head>
        <title>API Test - MongoDB x Express</title>
    </head>

    <body>
        <div class="task-list">
            <h2>API Test - MongoDB x Express</h2>
            <div class="todo">
                <form action="/" method="POST" class="post-form">
                    <input type="text" name="content">
                    <button type="submit">
                        <span>POST</span>
                    </button>
                </form>
                <ul class="dynamic-list">
                </ul>
            </div>
        </div>
    </body>
